@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?1mykyn');
  src:  url('../fonts/icomoon.eot?1mykyn#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?1mykyn') format('truetype'),
    url('../fonts/icomoon.woff?1mykyn') format('woff'),
    url('../fonts/icomoon.svg?1mykyn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-help:before {
  content: "\e900";
}
.icon-arrow-up-right:before {
  content: "\e901";
}
.icon-arrow-right:before {
  content: "\e902";
}
.icon-arrow-left:before {
  content: "\e903";
}
.icon-chevron-right:before {
  content: "\e904";
}
.icon-chevron-down:before {
  content: "\e905";
}
.icon-plus:before {
  content: "\e906";
}
.icon-search:before {
  content: "\e907";
}
.icon-share:before {
  content: "\e908";
}
.icon-message:before {
  content: "\e909";
}
.icon-bell:before {
  content: "\e90a";
}

body {
  font-family: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/************************

        HEADER

************************/

.header {  
  padding: .5rem 1rem;
}

.header-wraper {
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  grid-template-rows: auto;
  grid-template-areas: 'logo menu share profile';
  align-items: center;
}

.logo img {
  grid-area: logo;
  width: 24px;
  vertical-align: top;
}

.logo {
  padding: .8rem;
  width: 48px;
  border-radius: 50px;
}

.logo:hover {
  background: #f0f0f0;
}

.menu {
  grid-area: menu;
  display: flex;
}

.menu-item {
  border-radius: 50px;
  padding: .8rem 1rem;
  font-weight: bold;
  cursor: pointer;
}

.menu-item:hover {
  background: #f0f0f0;
}

.menu-item:nth-of-type(1) {
  background: #000;
  color: white;
}

.search {
  grid-area: share;
  display: flex;
  background: #f0f0f0;
  border-radius: 50px;
}

.search-ico {
  align-self: center;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  padding: .8rem .6rem;
  background: transparent;
}

.search:hover {
   background: #ddd;
}

.search-input {
  width: 100%;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border: none;
  padding: .8rem;
  font-weight: normal;
  font-size: 1rem;
  height: 100%;
  background: transparent;
}

.header-right {
  grid-area: profile;
  display: flex;
}

.header-ico {
  width: 48px;
  border-radius: 50px;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
}

.header-ico i {
  width: 24px;
  color: #767676;
}

.header-ico:hover {
  background: #f0f0f0;
}

.profile {
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  border-radius: 50px;
}

.profile:hover {
  background: #f0f0f0;
}

.profile img {
  width: 24px;
  border-radius: 50%;
}

/***************************************

            HOME

/**************************************/

.content {
  padding: .5rem 1rem;
}

.appContent-wraper {
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  grid-auto-rows: minmax(min-content, max-content);
  grid-gap: 1.5rem 1rem;
  justify-content: center;
}

.pin {
  border-radius: 15px;
  overflow: hidden;
  vertical-align: top;
  height: max-content;
  position: relative;
}

.pin img{
  vertical-align: top;
  object-fit: cover;
}

.pin-options {
  background-color: rgba(0,0,0,.4);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.download-pin {
  padding: .5rem;
  background: black;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
  margin: .5rem;
}

.download-pin a {
  color: white;
  text-decoration: none;
}

.pin-user {
  display: flex;
  align-items: center;
  padding: .5rem;
  margin: .5rem;
  background: #ddd;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
}

.pin-user img {
  border-radius: 50px;
  margin-left: .3rem;
}

.pin:hover .pin-options {
  display: flex;
}

.pin.lvl1 {
  grid-row-end: span 1;
}

.pin.lvl2 {
  grid-row-end: span 2;
}

.pin.lvl3 {
  grid-row-end: span 3;
}